
# --------------------------------------------------------------------
# Default values
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

global:
    registry: localhost:32000

data-migrate-ui:
  image:
    repository: data-migrate-ui
    tag: {{ data_migrate_ui_tag | default(common_tag) | default("latest") }}
  service:
    type: NodePort
    port: 80
    targetPort: 80
  env:
    - name: NEXT_PUBLIC_PORT
      value: "3111"
    - name: NEXT_PUBLIC_HARD_CODE_ACCOUNT_ID
      value: "1419c156-f370-473a-b886-7d0b952e77e1"
    - name: NEXT_PUBLIC_BASE_URL
      value: "/api/v1"
    - name: NEXT_PUBLIC_USER_ID
      value: "66d6da7b559c0a9b7077909b"
    - name: NEXT_PUBLIC_ADMIN_SERVICE_ENDPOINT
      value: "http://admin-service.datamigrate.svc.cluster.local:3000"
    - name: NEXT_PUBLIC_CONFIG_SERVICE_ENDPOINT
      value: "http://ABC.COM"
    - name: NEXT_PUBLIC_JOBS_SERVICE_ENDPOINT
      value: "http://ABC.COM"
    - name: NEXT_PUBLIC_WORKERS_SERVICE_ENDPOINT
      value: "http://ABC.COM"
    - name: NEXT_PUBLIC_KEYCLOAK_HOST
      value: "https://ABC:8443"
    - name: NEXT_PUBLIC_KEYCLOAK_REALM
      value: "netapp"
    - name: NEXT_PUBLIC_KEYCLOAK_CLIENT
      value: "netapp-cli"
    - name: NEXT_PUBLIC_KEYCLOAK_AUTHORITY
      value: "https://d:8443/realms/netapp"
    - name: NEXT_PUBLIC_KEYCLOAK_GRANT_TYPE
      value: "authorization_code"
    - name: NEXT_PUBLIC_KEYCLOAK_CLIENT_ID
      value: "netapp-cli"
    - name: NEXT_PUBLIC_KEYCLOAK_CLIENT_SECRET
      value: "d"
    - name: NEXT_PUBLIC_KEYCLOAK_REDIRECT_URI
      value: "https://d/home"
    - name: NEXT_PUBLIC_KEYCLOAK_RESPONSE_TYPE
      value: "code"
    - name: NEXT_PUBLIC_KEYCLOAK_POST_LOGOUT_REDIRECT_URI
      value: "https://d/home"

