REPLICA_INDEX=Kunalid
DB_PORT=13734
DB_NAME=defaultdb
DB_HOST=pg-16885e52-kunal77avghade-2a10.e.aivencloud.com
DB_USER=avnadmin
DB_PASSWORD=AVNS_RqnPZOBDp6vonGlQS2j
SCHEMA=migrateadmin
RABBITMQ_URL=amqps://frbrucjq:UDm9yWoZ4kig37NzOQM_HxU8xuXmMdWD@lionfish.rmq.cloudamqp.com/frbrucjq
RABBITMQ_URL_EXCHANGE=defaultEX
RABBITMQ_URL_ROUTING_KEY=socketConnetion

KEYCLOAK_BASE_URL=http://localhost:8080
KEYCLOAK_REALM=netapp


# RabbitMQ Connection
RABBITMQ_URL=amqp://guest:guest@127.0.0.1:5672,amqp://guest:guest@127.0.0.1:5673,amqp://guest:guest@127.0.0.1:5674

# RabbitMQ Queues
RABBITMQ_TASK_LIST_QUEUE=task-list
HEALTHCHECK_STATUS_TIMEOUT_SEC=60

# Mount command 
NFS_LINUX_MOUNT_PATH_CMD='mount -t nfs ${HOST}:${MOUNT_PATH} ${DIR_PATH}'
SMB_LINUX_MOUNT_PATH_CMD='mount -t cifs //${HOST}/${SHARE_PATH} ${DIR_PATH} -o credentials=${CREDENTIALS_FILE},vers=${VERS},backupuid=${BACKUPUID}'
SMB_KERBEROS_LINUX_MOUNT_PATH_CMD='mount -t cifs //${HOST}/${SHARE_PATH} ${DIR_PATH} -o sec=krb5,vers=${VERS},cruid=0'
UNMOUNT_CMD='umount ${DIR_PATH}'

# Purge batch size — max rows deleted per statement when purging soft-deleted job configs
# PURGE_BATCH_SIZE=50000
