apiVersion: v1
kind: PersistentVolume
metadata:
    name: grafana-data
    namespace: grafana
    labels:
        type: local
        role: grafana-data
spec:
    storageClassName: "local-storage-grafana"
    capacity:
        storage: {{ grafana_data_volume_size }}
    accessModes:
        - ReadWriteOnce
    hostPath:
        path: "/data/grafana-data"

---