apiVersion: v1
kind: Secret
metadata:
  name: postgres-credentials
  namespace: postgres
type: Opaque
data:
  password: {{ dmadmin_password_base64 }}
  postgres-password: {{ postgres_root_password_base64 }}
  liquibase-postgres-password: {{ liquibase_postgres_password_base64 }}
  keycloak-postgres-password:  {{ keycloak_postgres_password_base64 }}
  temporal-postgres-password: {{ temporal_postgres_password_base64 }}
