global:
  security:
    allowInsecureImages: true

postgresql:
    enabled: false

image:
  registry: docker.io
  repository: bitnami/keycloak
  tag: 26.3.3-debian-12-r0
  pullPolicy: "{% if local_cluster is defined %}IfNotPresent{% else %}Never{% endif %}"

externalDatabase:
    host: "postgresql.postgres.svc.cluster.local"
    port: 5432
    user: kcadmin
    database: keycloak
    existingSecret: "keycloak-credentials"
    existingSecretPasswordKey: "keycloak-db-password"

auth:
  adminUser: kcadmin
  existingSecret: "keycloak-credentials"
  passwordSecretKey: "keycloak-admin-password"

command:
  - "/opt/bitnami/scripts/keycloak/entrypoint.sh"

args:
  - 'bash'
  - '-c'
  - |
      #!/bin/bash

      # Run the init_vault.sh logic
      for env_file in /vault/secrets/*.env; do
        if [ -f "$env_file" ]; then
          echo "Sourcing $env_file"
          source "$env_file"
        fi
      done

      # Execute the entrypoint script
      /opt/bitnami/scripts/keycloak/run.sh

podAnnotations:
  vault.hashicorp.com/agent-inject: "true"
  vault.hashicorp.com/role: "keycloak-role"
  vault.hashicorp.com/agent-inject-secret-postgres.env: "secrets/postgres-secrets/postgres-creds"
  vault.hashicorp.com/agent-inject-secret-keycloak.env: "secrets/keycloak-secrets/keycloak-creds"
  vault.hashicorp.com/agent-inject-status: "update"
  vault.hashicorp.com/agent-inject-template-postgres.env: |{% raw %}
    {{`{{- with secret "secrets/postgres-secrets/postgres-creds" -}}
    export DATAMIGRATOR_DB_USERNAME="{{ .Data.POSTGRES_DMADMIN_USER }}"
    export DATAMIGRATOR_DB_PASSWORD="{{ .Data.POSTGRES_DMADMIN_PASSWORD }}"
    {{- end -}}`}}
  vault.hashicorp.com/agent-inject-template-keycloak.env: |
    {{`{{- with secret "secrets/keycloak-secrets/keycloak-creds" -}}
    export KEYCLOAK_ADMIN="{{ .Data.KEYCLOAK_ADMIN_USER }}"
    export KEYCLOAK_ADMIN_PASSWORD="{{ .Data.KEYCLOAK_ADMIN_PASSWORD }}"
    {{- end -}}`}}
    {% endraw %}
      
serviceAccount:
    create: true
    name: "keycloak-sa"

initContainers:
    - name: keycloak-customizations
      image: "{% if acr_registry %}{{ acr_registry }}/{% endif %}ndm-keycloak-customizations:{{ keycloak_customizations_tag | default(common_tag) | default('latest') }}"
      imagePullPolicy: "{% if local_cluster is defined %}IfNotPresent{% else %}Never{% endif %}"
      command:
        - sh
      args:
        - -c
        - |
          echo "Copying custom theme and providers..."
          cp -R /keycloak/custom/themes/* /themes
          cp -R /keycloak/custom/providers/* /providers
          echo "Successfully copied custom theme and providers to /custom"
      volumeMounts:
        - name: themes
          mountPath: /themes
        - name: providers
          mountPath: /providers
        

initdbScripts:
    load_custom_provider_script.sh: |
      #!/bin/bash
      echo "Loading custom providers from /custom/providers..."
      cp -R /custom/providers/* /opt/bitnami/keycloak/providers
      echo "Loading custom themes from /custom/themes..."
      cp -R /custom/themes/* /opt/bitnami/keycloak/themes
      echo "Successfully loaded custom themes and providers"
    
ingress:
  enabled: true
  annotations:
    nginx.ingress.kubernetes.io/use-regex: "true"
    nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
  hostname: ""
  ingressClassName: "public"
  extraRules:
    - host: ""
      http:
        paths:
          - path: "/keycloak/(.*)"
            pathType: Prefix
            backend:
              service:
                name: "keycloak"
                port:
                  name: "http"

extraVolumeMounts: |
    - name: themes
      mountPath: /custom/themes
    - name: providers
      mountPath: /custom/providers

extraVolumes: |
    - name: themes
      emptyDir: {}
    - name: providers
      emptyDir: {}

httpRelativePath: /keycloak/

production: true
proxyHeaders: xforwarded

{% if local_cluster is defined %}
resources:
  requests:
    cpu: 350m
    memory: 700Mi
  limits:
    cpu: 1000m
    memory: 1000Mi
{% else %}
resources:
  requests:
    cpu: 750m
    memory: 1000Mi
  limits:
    cpu: 1350m
    memory: 1350Mi
{% endif %}

extraEnvVars:
    - name: MY_HOST_IP
      valueFrom:
        fieldRef:
          fieldPath: status.hostIP
    - name: KEYCLOAK_HOSTNAME_ADMIN
      value: "https://$(MY_HOST_IP)/keycloak/"
    - name: KEYCLOAK_HOSTNAME
      value: "https://$(MY_HOST_IP)/keycloak/"
    - name: DATAMIGRATOR_DB_HOST
      value: postgresql.postgres.svc.cluster.local
    - name: DATAMIGRATOR_DB_PORT
      value: '5432'
    - name: DATAMIGRATOR_DB_NAME
      value: datamigrator
    - name: DATAMIGRATOR_DB_SSL_MODE
      value: disable
    - name: DATAMIGRATOR_DB_SCHEMA
      value: 'datamigrator'
    - name: KEYCLOAK_DATABASE_SCHEMA
      value: 'keycloak'
    - name: KEYCLOAK_PROXY_HEADERS
      value: xforwarded

podSecurityContext:
  fsGroup: {{ vm_gid }}

containerSecurityContext:
  runAsUser: {{ vm_uid }}
  runAsNonRoot: true
  runAsGroup: {{ vm_gid }}

