##reference: https://artifacthub.io/packages/helm/bitnami/postgresql?modal=values

architecture: standalone
global:
  postgresql:
    auth:
      username: dmadmin
      database: datamigrator  
      existingSecret: postgres-credentials
      secretKeys:
        adminPasswordKey: postgres-password
        userPasswordKey: password

primary:
  persistence:
    enabled: true
    storageClass: "local-storage-postgres"
    size: {{ postgres_data_volume_size }}
    selector:
        matchLabels:
            role: postgres-primary-data
              
  initdb:
    scriptsConfigMap: postgres-init-config
    user: dmadmin
    password: {{ dmadmin_password }}

volumePermissions:
  enabled: true

readReplicas:
    replicaCount: 0
