apiVersion: v1
kind: ConfigMap
metadata:
    name: postgres-init-config
    namespace: postgres
data:
  
    createSchema.sql: |
        GRANT ALL PRIVILEGES ON DATABASE datamigrator TO dmadmin;

        CREATE USER kcadmin WITH PASSWORD '{{ keycloak_postgres_password }}';
        CREATE DATABASE keycloak OWNER kcadmin;

        GRANT ALL PRIVILEGES ON DATABASE keycloak TO kcadmin;

        \connect keycloak

        CREATE SCHEMA IF NOT EXISTS keycloak AUTHORIZATION kcadmin;

        ALTER DEFAULT PRIVILEGES IN SCHEMA keycloak GRANT ALL PRIVILEGES ON TABLES TO kcadmin;
        ALTER DEFAULT PRIVILEGES IN SCHEMA keycloak GRANT ALL PRIVILEGES ON SEQUENCES TO kcadmin;
        ALTER DEFAULT PRIVILEGES IN SCHEMA keycloak GRANT ALL PRIVILEGES ON FUNCTIONS TO kcadmin;

        CREATE USER liquibase WITH PASSWORD '{{ liquibase_postgres_password }}';

        GRANT CONNECT, CREATE ON DATABASE datamigrator TO liquibase;

        \connect datamigrator

        CREATE SCHEMA IF NOT EXISTS liquibase AUTHORIZATION liquibase;
        CREATE SCHEMA IF NOT EXISTS datamigrator AUTHORIZATION dmadmin;

        ALTER DEFAULT PRIVILEGES IN SCHEMA datamigrator GRANT ALL PRIVILEGES ON SEQUENCES TO liquibase;
        ALTER DEFAULT PRIVILEGES IN SCHEMA datamigrator GRANT ALL PRIVILEGES ON FUNCTIONS TO liquibase;
        ALTER DEFAULT PRIVILEGES IN SCHEMA datamigrator GRANT ALL PRIVILEGES ON TABLES TO liquibase;

        ALTER DEFAULT PRIVILEGES IN SCHEMA datamigrator GRANT ALL PRIVILEGES ON SEQUENCES TO dmadmin;
        ALTER DEFAULT PRIVILEGES IN SCHEMA datamigrator GRANT ALL PRIVILEGES ON FUNCTIONS TO dmadmin;
        ALTER DEFAULT PRIVILEGES IN SCHEMA datamigrator GRANT ALL PRIVILEGES ON TABLES TO dmadmin;
