apiVersion: v1
kind: ConfigMap
metadata:
    name: postgres-init-config
    namespace: postgres
data:
  
    createSchema.sql: |
        GRANT ALL PRIVILEGES ON DATABASE datamigrator TO dmadmin;

        CREATE USER kcadmin WITH PASSWORD {{ keycloak_postgres_password }};
        CREATE DATABASE keycloak OWNER kcadmin;

        GRANT ALL PRIVILEGES ON DATABASE keycloak TO kcadmin;

        \connect keycloak

        CREATE SCHEMA IF NOT EXISTS keycloak AUTHORIZATION kcadmin;

        GRANT ALL PRIVILEGES ON SCHEMA keycloak TO kcadmin;


        CREATE USER liquibase WITH PASSWORD {{ liquibase_postgres_password }};

        GRANT CONNECT, CREATE ON DATABASE datamigrator TO liquibase;

        \connect datamigrator

        CREATE SCHEMA IF NOT EXISTS liquibase AUTHORIZATION liquibase;
        CREATE SCHEMA IF NOT EXISTS datamigrator AUTHORIZATION liquibase;

        GRANT USAGE, CREATE ON SCHEMA datamigrator TO liquibase;

        ALTER DEFAULT PRIVILEGES IN SCHEMA datamigrator
            GRANT SELECT, INSERT, UPDATE, DELETE ON TABLES TO liquibase;
        ALTER DEFAULT PRIVILEGES IN SCHEMA datamigrator
            GRANT USAGE, SELECT ON SEQUENCES TO liquibase;
        ALTER DEFAULT PRIVILEGES IN SCHEMA datamigrator
            GRANT EXECUTE ON FUNCTIONS TO liquibase;

        GRANT ALL PRIVILEGES ON SCHEMA datamigrator TO dmadmin;

        ALTER DEFAULT PRIVILEGES IN SCHEMA public GRANT SELECT, INSERT, UPDATE, DELETE ON TABLES TO dmadmin;