apiVersion: v1
kind: Secret
metadata:
  name: postgres-credentials
  namespace: postgres
type: Opaque
data:
  password: {{ dmadmin_password_base64 }}
  postgres-password: {{ postgres_root_password_base64 }}
