apiVersion: v1
kind: PersistentVolume
metadata:
    name: postgres-primary-data
    namespace: postgres
    labels:
        type: local
        role: postgres-primary-data
spec:
    storageClassName: "local-storage-postgres"
    capacity:
        storage: {{ postgres_data_volume_size }}
    accessModes:
        - ReadWriteOnce
    hostPath:
        path: "/data/postgres-data"

---