apiVersion: v1
kind: Secret
metadata:
  name: keycloak-credentials
  namespace: keycloak
type: Opaque
data:
  keycloak-admin-password: "{{ keycloak_admin_password_base64 }}"
  datamigrate-db-password: "{{ postgres_dmadmin_password_base64 }}"
