# RABBITMQ_URLS=amqp://user:rmqadmin@rabbitmq.local:5672,amqp://user:rmqadmin@rabbitmq.local:5673,amqp://user:rmqadmin@rabbitmq.local:5674
# RABBITMQ_URLS=amqp://guest:guest@127.0.0.1:5672,amqp://guest:guest@127.0.0.1:5673,amqp://guest:guest@127.0.0.1:5674
# RABBITMQ_QUEUE=myqueue-2
# RABBITMQ_QUEUE_DURABLE=true

# Database credentials
DB_PORT=5432
DB_HOST=localhost
DB_USER=dmadmin
DB_PASSWORD=dmadmin
DB_NAME=datamigrate
SCHEMA=inventory

# RabbitMQ Connection
RABBITMQ_HOSTS=127.0.0.1,127.0.0.1,127.0.0.1
RABBITMQ_PORTS=5672,5673,5674
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest

# RabbitMQ Queues
RABBITMQ_TASK_LIST_QUEUE=myqueue-task-list
RABBITMQ_INVENTORY_QUEUE=myqueue-inventory

