#  ----------------------------- NFS ----------------------------------#
NFS_WIN_LIST_PATH_CMD='showmount -e ${HOST}'
NFS_LINUX_LIST_PATH_CMD='showmount -e ${HOST}'
NFS_UNIX_LIST_PATH_CMD='showmount -e ${HOST}'

NFS_LINUX_MOUNT_PATH_CMD='mount -t nfs ${HOST}:${MOUNT_PATH} ${DIR_PATH}'
NFS_UNIX_MOUNT_PATH_CMD='mount -t nfs ${HOST}:${MOUNT_PATH} ${DIR_PATH}'
 
NFS_LINUX_UNMOUNT_PATH_CMD='umount ${DIR_PATH}'
NFS_UNIX_UNMOUNT_PATH_CMD='umount ${DIR_PATH}'


NFS_LINUX_CHECK_MOUNT_PATH_CMD='mount | grep ${PATH}'
NFS_UNIX_CHECK_MOUNT_PATH_CMD='mount | grep ${PATH}'

#  ----------------------------- SMB ----------------------------------#
SMB_WIN_VALIDATE_CRED_CMD='net use \\\\${HOST} /user:${USERNAME} ${PASSWORD}'

SMB_WIN_LIST_PATH_CMD='net view ${HOST}'
SMB_LINUX_LIST_PATH_CMD='smbclient -L ${HOST} -U ${USERNAME}%${PASSWORD}' 
SMB_UNIX_LIST_PATH_CMD='smbclient -L ${HOST} -U ${USERNAME}%${PASSWORD}' 

SMB_LINUX_MOUNT_PATH_CMD="mount -t cifs //${HOST}/${PATH} ${BASE_DIR}/${JOB_RUN_ID}/${PATH_ID} -o username=${USERNAME},password='${PASSWORD}'"
SMB_UNIX_MOUNT_PATH_CMD='mount_smbfs //${USERNAME}:${PASSWORD}@${HOST}${PATH} ${BASE_DIR}/${JOB_RUN_ID}/${PATH_ID}'


SMB_LINUX_UNMOUNT_PATH_CMD='umount ${BASE_DIR}/${JOB_RUN_ID}/${PATH_ID}'
SMB_UNIX_UNMOUNT_PATH_CMD='umount ${BASE_DIR}/${JOB_RUN_ID}/${PATH_ID}'


# ------------------------------- Worker ------------------------ #
WORKER_CONFIG_URL=http://localhost:3002
WORKER_JOB_SERVICE_URL=http://localhost:3006
WORKER_REPORT_SERVICE_URL=http://localhost:3003
WORKER_ID=4e59f3b9-071c-4515-aed0-c9226b8d01dd
WORKER_SECRET=b520bdc6-db73-4b67-b610-68acdfdba1c7
KEYCLOAK_BASE_URL=http://localhost:7080
KEYCLOAK_REALM=datamigrator
TEMPORAL_ADDRESS=localhost:7233

BASE_MOUNT_DIR=/mnt/datamigrator

HEALTH_CHECK_INTERVAL=5

REDIS_HOST=localhost
REDIS_USERNAME=default
REDIS_PASSWORD=redis
REDIS_PORT=6379
