RABBITMQ_URLS=amqp://user:rmqadmin@rabbitmq.local:5672,amqp://user:rmqadmin@rabbitmq.local:5673,amqp://user:rmqadmin@rabbitmq.local:5674
RABBITMQ_QUEUE=myqueue-2
RABBITMQ_QUEUE_DURABLE=true
DB_PORT=5432
DB_HOST=localhost
DB_USER=dmadmin
DB_PASSWORD=dmadmin
DB_NAME=datamigrate
SCHEMA=inventory
