JOB_SERVICE_URL=https://10.192.7.75
CONFIG_SERVICE_URL=https://10.192.7.75
ADMIN_SERVICE_URL=https://10.192.7.75
TOKEN_URL=https://10.192.7.75/keycloak/realms/datamigrator/protocol/openid-connect/token
CLIENT_ID=
CLIENT_SECRET=
GRANT_TYPE=
USERNAME=
PASSWORD=
NDM_VM_USER_NAME=ubuntu
NDM_VM_HOST=
NDM_VM_PORT=22
NDM_VM_PASSWORD=
BASE_ACCOUNT_NAME=TestAccount
BASE_PROJECT_NAME=TestProject123111
BASE_PROJECT_DESCRIPTION="Project For Automation testing"
BASE_PROJECT_START_DATE=2025-04-09T07:08:02.742Z
DEFFAULT_ACCOUNT_ID=753975cb-2f97-4230-b632-6815515a7d0d