# Dependencies
node_modules/
.pnp
.pnp.js

# Build outputs
dist/
build/
coverage/

# Environment & secrets
.env
.env.*
!.env.example
# .npmrc

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS metadata
.DS_Store
Thumbs.db

# IDE
.idea/
*.iml
.vscode/

# Test results
test/unit/test-results/
junit.xml

# TypeScript incremental build
*.tsbuildinfo
