@netapp-cloud-datamigrate:registry=https://npm.pkg.github.com/
@netapp:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=${GITOPS_USER_GITHUB_TOKEN}
@netapp:registry=https://npm.repo.eng.netapp.com/