apiVersion: v1
kind: Secret
metadata:
  name: keycloak-credentials
  namespace: keycloak
type: Opaque
data:
  keycloak-admin-password: "{{ keycloak_admin_password_base64 }}"
  keycloak-db-password: "{{ keycloak_postgres_password_base64 }}"
