apiVersion: batch/v1
kind: Job
metadata:
  name: admin-entry-job
spec:
  ttlSecondsAfterFinished: 100
  template:
    metadata:
      annotations:
        sidecar.istio.io/inject: "false"
        vault.hashicorp.com/agent-json-patch: '[{"op": "replace", "path": "/imagePullPolicy", "value": "{% if local_cluster is defined %}IfNotPresent{% else %}Never{% endif %}"}]'
        vault.hashicorp.com/agent-inject: "true"
        vault.hashicorp.com/role: "datamigrator-role"
        vault.hashicorp.com/agent-pre-populate-only: "true"
        vault.hashicorp.com/agent-inject-secret-keycloak.env: "secrets/keycloak-secrets/keycloak-creds"
        vault.hashicorp.com/agent-inject-status: "update"
    spec:
      serviceAccountName: datamigrator-openbao-sa
      restartPolicy: Never
      volumes:
        - name: admin-entry-volume
          configMap:
            name: admin-entry-config  
      containers:
        - name: admin-entry-container
          image: "{% if local_cluster is defined %}docker.io/library/alpine:3.22.1{% else %}ndm-admin-entry:alpine{% endif %}"
          imagePullPolicy: "{% if local_cluster is defined %}IfNotPresent{% else %}Never{% endif %}"
          command:
            - "sh"
            - "-c"
            - |
{% if local_cluster is defined %}
              apk add --no-cache bash
{% endif %}
              bash /scripts/admin_entry.sh
          volumeMounts:
            - name: admin-entry-volume
              mountPath: /scripts
          env:
            - name: NODE_IP
              valueFrom:
                fieldRef:
                  fieldPath: status.hostIP
