*.tgz
**/package/values.yaml
/datamigrator/
inventory.yaml
.ansible
.vscode
.DS_Store
packer-provisioner-*
/wininstaller/winsw.exe
/wininstaller/worker.exe
.terraform/
.terraform.lock*
*.tfstate
*.tfstate.*
*.wasm
*.log