data:
  "6379": "redis/redis-master:6379"
  "7233": "temporal/temporaltest-frontend:7233"
  "5432": "postgres/postgresql:5432"
  "32422": "fluentd/fluentd:32422"
  "9091": "prometheus/prometheus-prometheus-pushgateway:9091"
  "4318": "otel/otel-collector-opentelemetry-collector:4318"