[
  {
    "op": "add",
    "path": "/spec/template/spec/containers/0/ports/-",
    "value": {
      "name": "tcp-6379",
      "containerPort": 6379,
      "hostPort": 6379,
      "protocol": "TCP"
    }
  },
  {
    "op": "add",
    "path": "/spec/template/spec/containers/0/ports/-",
    "value": {
      "name": "tcp-7233",
      "containerPort": 7233,
      "hostPort": 7233,
      "protocol": "TCP"
    }
  },
  {
    "op": "add",
    "path": "/spec/template/spec/containers/0/ports/-",
    "value": {
      "name": "tcp-5432",
      "containerPort": 5432,
      "hostPort": 5432,
      "protocol": "TCP"
    }
  },
  {
    "op": "add",
    "path": "/spec/template/spec/containers/0/ports/-",
    "value": {
      "name": "tcp-32422",
      "containerPort": 32422,
      "hostPort": 32422,
      "protocol": "TCP"
    }
  },
  {
    "op": "add",
    "path": "/spec/template/spec/containers/0/ports/-",
    "value": {
      "name": "tcp-9091",
      "containerPort": 9091,
      "hostPort": 9091,
      "protocol": "TCP"
    }
  },
  {
    "op": "add",
    "path": "/spec/template/spec/containers/0/ports/-",
    "value": {
      "name": "tcp-4318",
      "containerPort": 4318,
      "hostPort": 4318,
      "protocol": "TCP"
    }
  }
]
