
# --------------------------------------------------------------------
# Default values
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

global:
  registry: {{ acr_registry }}

admin-service:
  image:
    tag: {{ admin_service_tag | default(common_tag) | default("latest") }}
  
config-service:
  image:
    tag: {{ config_service_tag | default(common_tag) | default("latest") }}

db-writer:
  image:
    tag: {{ db_writer_service_tag | default(common_tag) | default("latest") }}

jobs-service:
  image:
    tag: {{ jobs_service_tag | default(common_tag) | default("latest") }}

file-service:
  image:
    tag: {{ file_service_tag | default(common_tag) | default("latest") }}

reports-service:
  image:
    tag: {{ reports_service_tag | default(common_tag) | default("latest") }}
  
data-migrate-ui:
  image:
    tag: {{ data_migrate_ui_tag | default(common_tag) | default("latest") }}

