apiVersion: v1
kind: PersistentVolume
metadata:
    name: vault-data
    namespace: vault
    labels:
        type: local
        role: vault-data
spec:
    storageClassName: "local-storage-vault"
    capacity:
        storage: {{ vault_data_volume_size }}
    accessModes:
        - ReadWriteOnce
    hostPath:
        path: "/data/vault-data"

---