apiVersion: v1
kind: PersistentVolume
metadata:
    name: rabbitmq-data
    namespace: rabbitmq
    labels:
        type: local
        role: rabbitmq-data
spec:
    storageClassName: "local-storage-rabbitmq"
    capacity:
        storage: {{ rabbitmq_data_volume_size }}
    accessModes:
        - ReadWriteOnce
    hostPath:
        path: "/data/rabbitmq-data"

---