apiVersion: batch/v1
kind: CronJob
metadata:
  name: ndm-postgres-vacuum-analyze-cronjob
  namespace: datamigrator
spec:
  schedule: "0 0 * * *"
  suspend: true
  concurrencyPolicy: Forbid
  successfulJobsHistoryLimit: 2
  failedJobsHistoryLimit: 3
  jobTemplate:
    spec:
      template:
        metadata:
          annotations:
            vault.hashicorp.com/agent-json-patch: '[{"op": "replace", "path": "/imagePullPolicy", "value": "{% if local_cluster is defined %}IfNotPresent{% else %}Never{% endif %}"}]'
            vault.hashicorp.com/agent-inject: "true"
            vault.hashicorp.com/role: "datamigrator-role"
            vault.hashicorp.com/agent-inject-secret-postgres.env: "secrets/postgres-secrets/postgres-creds"
            vault.hashicorp.com/agent-pre-populate-only: "true"
{% if enable_istio | default(false) %}
            sidecar.istio.io/inject: "false"
            traffic.sidecar.istio.io/excludeOutboundPorts: "8200,8201"
{% endif %}
            vault.hashicorp.com/agent-inject-template-postgres.env: |{% raw %}
              {{- with secret "secrets/postgres-secrets/postgres-creds" -}}
              export PGUSER="{{ .Data.POSTGRES_DMADMIN_USER }}"
              export PGPASSWORD="{{ .Data.POSTGRES_DMADMIN_PASSWORD }}"
              {{- end -}}
              {% endraw %}

        spec:
          serviceAccountName: datamigrator-openbao-sa
          restartPolicy: OnFailure
          containers:
            - name: ndm-postgres-vacuum-analyze
              image: "{% if local_cluster is defined %}bitnamilegacy/postgresql:17.6.0-debian-12-r0{% else %}bitnami/postgresql:17.6.0-debian-12-r0{% endif %}"
              imagePullPolicy: "{% if local_cluster is defined %}IfNotPresent{% else %}Never{% endif %}"
              env:
                - name: PGHOST
                  value: "postgresql.postgres.svc.cluster.local"
                - name: PGDATABASE
                  value: "datamigrator"
                - name: PGSCHEMA
                  value: "datamigrator"
                - name: VACUUM_ANALYZE_ENABLED
                  valueFrom:
                    configMapKeyRef:
                      name: ndm-postgres-cronjob-cm
                      key: VACUUM_ANALYZE_ENABLED
              command:
                - /bin/bash
                - -c
                - |
                  /bin/bash /scripts/run_vacuum_analyze.sh
              volumeMounts:
                - name: script-volume
                  mountPath: /scripts
          volumes:
            - name: script-volume
              configMap:
                name: ndm-postgres-cronjob-cm

 