apiVersion: v1
kind: ConfigMap
metadata:
  name: ndm-postgres-cronjob-script
  namespace: datamigrator
data:
  run_ndm_pg_cron.sh: |
    #!/bin/bash
    set -e

    echo "Sourcing environment variables from Vault..."
    if [ -f /vault/secrets/postgres.env ]; then 
      source /vault/secrets/postgres.env
    else
      echo "No env file from vault present. Exiting."
      exit 1
    fi

    echo "Listing all databases:"
    psql -h "$PGHOST" -U "$PGUSER" -l
