apiVersion: batch/v1
kind: CronJob
metadata:
  name: ndm-postgres-cronjob
  namespace: datamigrator
spec:
  schedule: "*/5 * * * *"
  concurrencyPolicy: Forbid
  successfulJobsHistoryLimit: 2
  failedJobsHistoryLimit: 3
  jobTemplate:
    spec:
      template:
        metadata:
          annotations:
            vault.hashicorp.com/agent-json-patch: '[{"op": "replace", "path": "/imagePullPolicy", "value": "Never"}]'
            vault.hashicorp.com/agent-inject: "true"
            vault.hashicorp.com/role: "datamigrator-role"
            vault.hashicorp.com/agent-inject-secret-postgres.env: "secrets/postgres-secrets/postgres-creds"
            vault.hashicorp.com/agent-pre-populate-only: "true"
            vault.hashicorp.com/agent-inject-template-postgres.env: |{% raw %}
              {{- with secret "secrets/postgres-secrets/postgres-creds" -}}
              export PGUSER="{{ .Data.POSTGRES_DMADMIN_USER }}"
              export PGPASSWORD="{{ .Data.POSTGRES_DMADMIN_PASSWORD }}"
              {{- end -}}
              {% endraw %}

        spec:
          serviceAccountName: datamigrator-openbao-sa
          restartPolicy: OnFailure
          containers:
            - name: ndm-postgres-cronjob
              image: bitnami/postgresql:17.6.0-debian-12-r0
              imagePullPolicy: "{% if local_cluster is defined %}IfNotPresent{% else %}Never{% endif %}"
              env:
                - name: PGHOST
                  value: "postgresql.postgres.svc.cluster.local"
                - name: PGDATABASE
                  value: "datamigrator"
              command:
                - /bin/bash
                - -c
                - |
                  /bin/bash /scripts/run_ndm_pg_cron.sh
              volumeMounts:
                - name: script-volume
                  mountPath: /scripts
          volumes:
            - name: script-volume
              configMap:
                name: ndm-postgres-cronjob-script