#reference: https://artifacthub.io/packages/helm/bitnami/redis?modal=values
global:
  security:
    allowInsecureImages: true

architecture: standalone
auth:
  enabled: true
  password: "welcome"

existingConfigmap: "redis-config"

{% if local_cluster is not defined %}
image:
  registry: public.ecr.aws
  repository: bitnami/redis
  tag: 7.4.2-debian-12-r4
  pullPolicy: IfNotPresent
{% endif %}

master:
  count: 1
  persistence:
    enabled: true
    storageClass: "local-storage-redis"
    size: {{ redis_data_volume_size }}
    selector:
        matchLabels:
            role: redis-data
{% if local_cluster is defined %}
  resources:
    requests:
      cpu: "0.3"
      memory: "512Mi"
    limits:
      cpu: "1"
      memory: "1Gi"
{% else %}
  resources:
    requests:
      cpu: "750m"
      memory: "3Gi"
    limits:
      cpu: "2500m"
      memory: "7Gi"
{% endif %}
  podSecurityContext:
    enabled: true
    fsGroup: {{ vm_gid }}

  containerSecurityContext:
    enabled: true
    runAsUser: {{ vm_uid }}
    runAsGroup: {{ vm_gid }}
    runAsNonRoot: true
    allowPrivilegeEscalation: false
    seccompProfile:
      type: RuntimeDefault
    capabilities:
      drop:
        - ALL    

volumePermissions:
  enabled: true
{% if local_cluster is not defined %}
  image:
    registry: public.ecr.aws
    repository: bitnami/os-shell
    tag: 12-debian-12-r38
    pullPolicy: IfNotPresent
{% endif %}

replica:
  replicaCount: 0

metrics:
  enabled: true
  containerSecurityContext:
    enabled: true
    runAsUser: {{ vm_uid }}
    runAsGroup: {{ vm_gid }}
    runAsNonRoot: true
    allowPrivilegeEscalation: false
    seccompProfile:
      type: RuntimeDefault
    capabilities:
      drop:
        - ALL 
{% if local_cluster is not defined %}
  image:
    registry: public.ecr.aws
    repository: bitnami/redis-exporter
    tag: 1.67.0-debian-12-r9
    pullPolicy: IfNotPresent
{% endif %}


{% if local_cluster is not defined %}
kubectl:
  image:
    registry: public.ecr.aws
    repository: bitnami/kubectl
    tag: 1.32.2-debian-12-r2
    pullPolicy: IfNotPresent
{% endif %}