apiVersion: v1
kind: ConfigMap
metadata:
    name: redis-config
    namespace: redis
data:
    master.conf: |
        bind 0.0.0.0
        dir /data
        rename-command FLUSHDB ""
        rename-command FLUSHALL ""
        protected-mode yes
    redis.conf: |
        appendonly yes
        save ""
        maxmemory {{ (ansible_memtotal_mb * 0.30) | int }}mb
        maxmemory-policy noeviction
        loglevel warning
    replica.conf: |
        dir /data
        rename-command FLUSHDB ""
        rename-command FLUSHALL ""
    users.acl:  |