#reference: https://artifacthub.io/packages/helm/bitnami/redis?modal=values
architecture: standalone
auth:
  enabled: true
  password: "welcome"

existingConfigmap: "redis-config"

master:
  count: 1
  persistence:
    enabled: true
    storageClass: "local-storage-redis"
    size: {{ redis_data_volume_size }}
    selector:
        matchLabels:
            role: redis-data
{% if local_cluster is defined %}
  resources:
    requests:
      cpu: "0.3"
      memory: "512Mi"
    limits:
      cpu: "1"
      memory: "1Gi"
{% else %}
  resources:
    requests:
      cpu: "750m"
      memory: "3Gi"
    limits:
      cpu: "2500m"
      memory: "7Gi"
{% endif %}
  podSecurityContext:
    enabled: true
    fsGroup: {{ vm_gid }}

  containerSecurityContext:
    enabled: true
    runAsUser: {{ vm_uid }}
    runAsGroup: {{ vm_gid }}
    runAsNonRoot: true
    allowPrivilegeEscalation: false
    seccompProfile:
      type: RuntimeDefault
    capabilities:
      drop:
        - ALL    

volumePermissions:
  enabled: true

replica:
  replicaCount: 0

metrics:
  enabled: true
  containerSecurityContext:
    enabled: true
    runAsUser: {{ vm_uid }}
    runAsGroup: {{ vm_gid }}
    runAsNonRoot: true
    allowPrivilegeEscalation: false
    seccompProfile:
      type: RuntimeDefault
    capabilities:
      drop:
        - ALL 