NODE_TLS_REJECT_UNAUTHORIZED=0
KEYCLOAK_REALM=datamigrator

#  ----------------------------- NFS ----------------------------------#
NFS_WIN_LIST_PATH_CMD='showmount -e ${HOST}'
NFS_LINUX_LIST_PATH_CMD='showmount -e ${HOST}'
NFS_UNIX_LIST_PATH_CMD='showmount -e ${HOST}'
 
NFS_LINUX_MOUNT_PATH_CMD='mount -t nfs ${HOST}:${MOUNT_PATH} ${DIR_PATH}'
NFS_UNIX_MOUNT_PATH_CMD='mount -t nfs ${HOST}:${MOUNT_PATH} ${DIR_PATH}'
 
NFS_LINUX_UNMOUNT_PATH_CMD='umount ${DIR_PATH}'
NFS_UNIX_UNMOUNT_PATH_CMD='umount ${DIR_PATH}'
 
NFS_LINUX_CHECK_MOUNT_PATH_CMD='mount | grep ${PATH}'
NFS_UNIX_CHECK_MOUNT_PATH_CMD='mount | grep ${PATH}'
 
#  ----------------------------- SMB ----------------------------------#
SMB_WIN_VALIDATE_CRED_CMD='net use \\\\${HOST} /user:${USERNAME} ${PASSWORD}'
 
SMB_WIN_LIST_PATH_CMD='net view ${HOST}'
SMB_LINUX_LIST_PATH_CMD="smbclient -L ${HOST} -U ${USERNAME}%'${PASSWORD}'"
SMB_UNIX_LIST_PATH_CMD="smbclient -L ${HOST} -U ${USERNAME}%'${PASSWORD}'"
 
SMB_LINUX_MOUNT_PATH_CMD="mount -t cifs //${HOST}${MOUNT_PATH} ${DIR_PATH} -o username=${USERNAME},password='${PASSWORD}'"
SMB_UNIX_MOUNT_PATH_CMD='mount_smbfs //${USERNAME}:${PASSWORD}@${HOST}${PATH} ${BASE_DIR}/${JOB_RUN_ID}/${PATH_ID}'

SMB_LINUX_UNMOUNT_PATH_CMD='umount ${DIR_PATH}'
SMB_UNIX_UNMOUNT_PATH_CMD='umount ${DIR_PATH}'

BASE_WORKING_PATH='/mnt/datamigrator'