[Unit]
Description=Worker Service
After=network.target

[Service]
EnvironmentFile=/opt/datamigrator/conf/worker.env
ExecStart=/opt/datamigrator/binary/{{ remote_binary_path | basename }} /opt/datamigrator/conf/worker-config.json
WorkingDirectory=/opt/datamigrator
Restart=always
User=root
Group=root
StandardOutput=append:/var/log/datamigrator/datamigrator-worker.log
StandardError=append:/var/log/datamigrator/datamigrator-worker-error.log

[Install]
WantedBy=multi-user.target
