<table style="border:1px solid black; border-collapse: separate; border-spacing: 0; text-align:left; width:auto">
     <tbody>
    <tr>
     <td style="padding: 3px 8px;">Customer:</td>
     <td style="padding: 3px 8px;"> NetApp test migration </td>
    </tr>
    <tr>
     <td style="padding: 3px 8px;">&nbsp;</td>
    </tr>
    <tr>
     <td style="padding: 3px 8px;">Report Version:</td>
     <td style="padding: 3px 8px;">6.7.0</td>
    </tr>
    <tr>
     <td style="padding: 3px 8px;">Generated At:</td>
     <td style="padding: 3px 8px;"> - </td>
    </tr>
   </tbody>
</table>
