# Database credentials
DB_PORT=5432
DB_HOST=localhost
DB_USER=dmadmin
DB_PASSWORD=dmadmin
DB_NAME=datamigrate
DB_SCHEMA=migrateadmin

# RabbitMQ Connection urls
RABBITMQ_URLS=amqp://guest:guest@127.0.0.1:5672,amqp://guest:guest@127.0.0.1:5673,amqp://guest:guest@127.0.0.1:5674

# RabbitMQ Queues
RABBITMQ_INVENTORY_QUEUE=inventory
