# Database credentials
DB_PORT=5432
DB_HOST=localhost
DB_USER=dmadmin
DB_PASSWORD=dmadmin
DB_NAME=datamigrate
DB_SCHEMA=migrateadmin

# Application Configuration
REDIS_KEY_PREFIX=db-writer
LAST_FILE_NAME=LAST_FILE
BATCH_TIMEOUT_MS=5000
MAX_RETRIES=3
LAST_ERROR_AND_TASK_ID=8840625a-b818-42a8-98c8-5c05aaa19106