kind: DaemonSet

resources:
  limits:
    cpu: 200m
    memory: 512Mi
  requests:
    cpu: 100m
    memory: 128Mi

volumes:
  - name: fluentd-logs
    hostPath:
      path: /fluentd-logs
      type: DirectoryOrCreate

volumeMounts:
  - name: fluentd-logs
    mountPath: /fluentd-logs

fileConfigs:
  01_sources.conf: |-
    ## logs from podman
    <source>
      @type tail
      @id in_tail_container_logs
      @label @KUBERNETES
      path /var/log/containers/*.log
      pos_file /var/log/fluentd-containers.log.pos
      tag kubernetes.*
      read_from_head true
      <parse>
        @type multi_format
        <pattern>
          format json
          time_key time
          time_type string
          time_format "%Y-%m-%dT%H:%M:%S.%NZ"
          keep_time_key false
        </pattern>
        <pattern>
          format regexp
          expression /^(?<time>.+) (?<stream>stdout|stderr)( (.))? (?<log>.*)$/
          time_format '%Y-%m-%dT%H:%M:%S.%NZ'
          keep_time_key false
        </pattern>
      </parse>
      emit_unmatched_lines true
    </source>

    # expose metrics in prometheus format
    <source>
      @type prometheus
      bind 0.0.0.0
      port 24231
      metrics_path /metrics
    </source>
  02_filters.conf: |-
    <label @KUBERNETES>
      <match kubernetes.var.log.containers.fluentd**>
        @type relabel
        @label @FLUENT_LOG
      </match>

      # <match kubernetes.var.log.containers.**_kube-system_**>
      #   @type null
      #   @id ignore_kube_system_logs
      # </match>

      <filter kubernetes.**>
        @type kubernetes_metadata
        @id filter_kube_metadata
        skip_labels false
        skip_container_metadata false
        skip_namespace_metadata false 
        skip_master_url true
        watch false
      </filter>

      <match **>
        @type relabel
        @label @DISPATCH
      </match>
    </label>
  03_dispatch.conf: |-
    <label @DISPATCH>
      <filter **>
        @type prometheus
        <metric>
          name fluentd_input_status_num_records_total
          type counter
          desc The total number of incoming records
          <labels>
            tag ${tag}
            hostname ${hostname}
          </labels>
        </metric>
      </filter>

      <match **>
        @type relabel
        @label @OUTPUT
      </match>
    </label>
  04_outputs.conf: |-
    <label @OUTPUT>
      <filter **>
        @type record_transformer
        enable_ruby true
        <record>
          log "[${time.strftime('%Y-%m-%d %H:%M:%S')}] ${record['log']}"
          namespace ${record.dig("kubernetes", "namespace_name") || "unknown"}
          pod_name ${record.dig("kubernetes", "pod_name") || "unknown"}
          container_name ${record.dig("kubernetes", "container_name") || "unknown"}
        </record>
      </filter>
      
      <match **>
        @type file
        path /fluentd-logs/${namespace}/${pod_name}/${container_name}-%Y-%m-%d-%H-%M
        append true
        <buffer time,namespace,pod_name,container_name>
          @type file
          timekey 24h
          timekey_wait 120
          timekey_use_utc false
          flush_mode immediate
          flush_at_shutdown true
        </buffer>
        
        <format>
          @type single_value
          message_key log
        </format>
      </match>
    </label>