{
  "firstRunAt": "$firstRunAt",
  "futureRunSchedule": "$futureRunSchedule",
  "migrateConfigs": [
    {
      "sourcePathId": "$sourcePathId",
      "destinationPathId": [#foreach($id in $destinationPathId) "$id"#if($foreach.hasNext),#end#end]
    }
  ],
  "sid_mapping": false,
  "options": {
      "excludeFilePatterns": "$excludeFilePatterns",
      "preserveAccessTime": $preserveAccessTime,
      "skipFile": "$skipFile"
  }
}