{
    
    "preserveAccessTime": $preserveAccessTime,
    "sourcePathIds": [#foreach($sourcePathId in $sourcePathIds) "$sourcePathId"#if($foreach.hasNext),#end #end],
    "preserveAccessTime": true
}
  