{
    "projectId": "$projectId",
    "configName": "$configName",
    "workingDirectory": {
      "pathName": "$pathName",
      "workingDirectory": "$workingDirectory",
      "pathId": "$pathId"
    },
    "configType": "$configType",
    "fileServers": [
      {
        "id": "$serverId",
        "serverType": "$serverType",
        "protocol": "$protocol",
        "protocolVersion": "$protocolVersion",
        "userName": "$userName",
        "host": "$host",
        "password": "$password",
        "workers": [
          "$workerId"
        ],
        "createdBy": "$createdBy"
      }
    ],
    "createdBy": "$createdBy"
  }
  