NODE_TLS_REJECT_UNAUTHORIZED=0
KEYCLOAK_REALM=datamigrator
HEALTH_CHECK_INTERVAL=5
FLUENT_PORT=32422
REDIS_PORT=6379
REDIS_MEM_USAGE_THRESHOLD=80
METRICS_ENABLED=true
METRICS_COLLECTION_INTERVAL=5000
METRICS_PUSH_INTERVAL=15000

BASE_WORKING_PATH='/mnt/datamigrator'

CHECK_AVAILABLE_DISK_SPACE=true

#  ----------------------------- TASK SETTINGS ----------------------------------#
MAX_OPERATION_RETRY=3
MAX_MIGRATION_COMMAND=100
MAX_SCAN_COMMAND=500
MIGRATION_TASK_LIMIT=100
CHUNK_SIZE=1048576
MAX_COMMAND_CONCURRENCY=100
JOB_TASK_ACTIVITY_CONCURRENCY=20
OPERATION_TIMEOUT=5000
REDIS_STREAM_GROUP_SIZE=1000
COMMANDS_IN_TASK=100
UV_THREADPOOL_SIZE=16
NODE_OPTIONS=--max_old_space_size=4096
MAX_CMDS_IN_STREAM=5000


#  ----------------------------- THREAD SETTINGS ----------------------------------#
THREAD_BANDS=1kb,1000;1mb,1000;10mb,100;100mb,10;1gb,1
THREAD_COUNT=5
MAX_BUFFER_SIZE=4194304


#  ----------------------------- NFS ----------------------------------#
NFS_WIN_LIST_PATH_CMD='showmount -e ${HOST}'
NFS_LINUX_LIST_PATH_CMD='showmount -e ${HOST}'
NFS_UNIX_LIST_PATH_CMD='showmount -e ${HOST}'

NFS_LINUX_MOUNT_PATH_CMD='mount -t nfs -o nfsvers=${PROTOCOL_VERSION} ${HOST}:${MOUNT_PATH} ${DIR_PATH}'
NFS_UNIX_MOUNT_PATH_CMD='mount -t nfs -o nfsvers=${PROTOCOL_VERSION} ${HOST}:${MOUNT_PATH} ${DIR_PATH}'

NFS_LINUX_UNMOUNT_PATH_CMD='umount ${DIR_PATH}'
NFS_UNIX_UNMOUNT_PATH_CMD='umount ${DIR_PATH}'
 
NFS_LINUX_CHECK_MOUNT_PATH_CMD='mount | grep ${PATH}'
NFS_UNIX_CHECK_MOUNT_PATH_CMD='mount | grep ${PATH}'

LINUX_FSTAB_PATH='/etc/fstab'
UNIX_FSTAB_PATH='/etc/fstab'


#  ----------------------------- SMB ----------------------------------#
SMB_WIN_VALIDATE_CRED_CMD='net use \\${HOST} /user:"${USERNAME}" "${PASSWORD}"'
SMB_WIN_LIST_PATH_CMD='net view ${HOST}'
SMB_WIN_MOUNT_PATH_CMD='net use \\${HOST}\${MOUNT_PATH} /user:"${USERNAME}" "${PASSWORD}"'
SMB_WIN_CREATE_LINK_PATH_CMD='powershell.exe -Command "& { if (-Not (Test-Path -Path "${DIR_PATH}")) { New-Item -ItemType SymbolicLink -Path "${DIR_PATH}" -Target "\\${HOST}\${MOUNT_PATH}" } }"'
SMB_WIN_UNMOUNT_PATH_CMD='powershell.exe -Command "$share = \"\\\\\\${HOST}\\\\\\${MOUNT_PATH}\"; if (net use | Select-String -Pattern ([regex]::Escape($share))) { net use $share /delete }"'
SMB_WIN_UNLINK_PATH_CMD='powershell.exe -Command "Remove-Item ${DIR_PATH} -Recurse -Force -Confirm:$false"'

SMB_WIN_DISCONNECT_SESSION_CMD='net use \\${HOST} /delete'
 
SMB_WIN_GET_SID_FOR_OBJECT_CMD='icacls "${PATH}"'
SMB_WIN_SET_SID_FOR_OBJECT_CMD='icacls "${PATH}" /grant "${USER}:${ACL}"'
SMB_WIN_SET_SID_FOR_DIR_OBJECT_CMD='icacls "${PATH}" /grant:r "${USER}:${ACL}" /T'

SMB_LINUX_MOUNT_PATH_CMD="mount -t cifs //${HOST}${MOUNT_PATH} ${DIR_PATH} -o username=${USERNAME},password='${PASSWORD}',vers=${PROTOCOL_VERSION}"
SMB_UNIX_MOUNT_PATH_CMD='mount_smbfs -o vers=${PROTOCOL_VERSION} //${USERNAME}:${PASSWORD}@${HOST}${PATH} ${BASE_DIR}/${JOB_RUN_ID}/${PATH_ID}'
SMB_LINUX_LIST_PATH_CMD="smbclient -L ${HOST} -U ${USERNAME}%'${PASSWORD}'"
SMB_UNIX_LIST_PATH_CMD="smbclient -L ${HOST} -U ${USERNAME}%'${PASSWORD}'"
SMB_LINUX_UNMOUNT_PATH_CMD='umount ${DIR_PATH}'
SMB_UNIX_UNMOUNT_PATH_CMD='umount ${DIR_PATH}'

LINUX_AVAILABLE_DISK_SPACE_CMD="df -Pk \"\${DIR_PATH}\" | awk 'NR==2 { print $4 * 1024 }'"
UNIX_AVAILABLE_DISK_SPACE_CMD="df -Pk \"\${DIR_PATH}\" | awk 'NR==2 { print $4 * 1024 }'"
WIN_AVAILABLE_DISK_SPACE_CMD='powershell -Command "& {(Get-PSDrive -Name (Get-Item "${DIR_PATH}").PSDrive.Name).Free}"'

LINUX_USED_DISK_SPACE='df -B1 "${MOUNT_PATH}" | tail -1'
UNIX_USED_DISK_SPACE='df -k "${MOUNT_PATH}" | tail -1'
WIN_USED_DISK_SPACE='powershell -Command "& { $drive = (Get-Item '${MOUNT_PATH}').PSDrive; $disk = Get-CimInstance Win32_LogicalDisk | Where-Object { $_.DeviceID -eq $drive.Name + ':' }; [int64]$disk.Size - [int64]$disk.FreeSpace }"'

REAL_TIME_PROTECTION=false