loki:
  commonConfig:
    replication_factor: 1

  image:
    registry: docker.io
    repository: grafana/loki
    tag: 3.4.2

  schemaConfig:
    configs:
      - from: "2024-04-01"
        store: tsdb
        object_store: s3
        schema: v13
        index:
          prefix: loki_index_
          period: 24h
  pattern_ingester:
      enabled: true
  limits_config:
    allow_structured_metadata: true
    volume_enabled: true
  ruler:
    enable_api: true

minio:
  enabled: true

test:
  enabled: true
  image:
    registry: docker.io
    repository: grafana/loki-helm-test
    tag: "ewelch-distributed-helm-chart-17db5ee"
    pullPolicy: IfNotPresent
      
chunksCache:
  enabled: true
  allocatedMemory: 1024


deploymentMode: SingleBinary

gateway:
  enabled: true
  image:
    registry: public.ecr.aws
    repository: nginx/nginx-unprivileged
    tag: 1.27-alpine

lokiCanary:
  enabled: true
  image:
    registry: docker.io
    repository: grafana/loki-canary
    tag: 3.4.2

singleBinary:
  replicas: 1

# Zero out replica counts of other deployment modes
backend:
  replicas: 0
read:
  replicas: 0
write:
  replicas: 0

ingester:
  replicas: 0
querier:
  replicas: 0
queryFrontend:
  replicas: 0
queryScheduler:
  replicas: 0
distributor:
  replicas: 0
compactor:
  replicas: 0
indexGateway:
  replicas: 0
bloomCompactor:
  replicas: 0
bloomGateway:
  replicas: 0

{% if local_cluster is not defined %}
memcached:
  image:
    repository: public.ecr.aws/docker/library/memcached
    tag: 1.6.36-alpine
{% endif %}

memcachedExporter:
  enabled: false

sidecar:
  image:
    repository: kiwigrid/k8s-sidecar
    tag: 1.30.0
