apiVersion: v1
kind: PersistentVolume
metadata:
    name: loki-data
    namespace: grafana
    labels:
        type: local
        role: loki-data
spec:
    storageClassName: "local-storage-loki"
    capacity:
        storage: {{ loki_data_volume_size }}
    accessModes:
        - ReadWriteOnce
    hostPath:
        path: "/data/loki-data"

---