#  ----------------------------- NFS ----------------------------------#
NFS_WIN_LIST_PATH_CMD='showmount -e ${HOST}'
NFS_LINUX_LIST_PATH_CMD='showmount -e ${HOST}'
NFS_UNIX_LIST_PATH_CMD='showmount -e ${HOST}'

NFS_LINUX_MOUNT_PATH_CMD='mount -t nfs ${HOST}:${MOUNT_PATH} ${DIR_PATH}'
NFS_UNIX_MOUNT_PATH_CMD='mount -t nfs ${HOST}:${MOUNT_PATH} ${DIR_PATH}'
 
NFS_LINUX_UNMOUNT_PATH_CMD='umount ${DIR_PATH}'
NFS_UNIX_UNMOUNT_PATH_CMD='umount ${DIR_PATH}'


NFS_LINUX_CHECK_MOUNT_PATH_CMD='mount | grep ${PATH}'
NFS_UNIX_CHECK_MOUNT_PATH_CMD='mount | grep ${PATH}'

#  ----------------------------- SMB ----------------------------------#
SMB_WIN_VALIDATE_CRED_CMD='net use \\\\${HOST} /user:${USERNAME} ${PASSWORD}'
SMB_WIN_SAVE_CREDS='CMDKEY /add:${HOST} /user:"${USERNAME}" /pass:"${PASSWORD}"'
SMB_WIN_LIST_PATH_CMD='net view ${HOST}'
SMB_LINUX_LIST_PATH_CMD='smbclient -L ${HOST} -U ${USERNAME}%${PASSWORD}' 
SMB_UNIX_LIST_PATH_CMD='smbclient -L ${HOST} -U ${USERNAME}%${PASSWORD}' 

SMB_LINUX_MOUNT_PATH_CMD="mount -t cifs //${HOST}/${PATH} ${BASE_DIR}/${JOB_RUN_ID}/${PATH_ID} -o username=${USERNAME},password='${PASSWORD}'"
SMB_UNIX_MOUNT_PATH_CMD='mount_smbfs //${USERNAME}:${PASSWORD}@${HOST}${PATH} ${BASE_DIR}/${JOB_RUN_ID}/${PATH_ID}'


SMB_LINUX_UNMOUNT_PATH_CMD='umount ${BASE_DIR}/${JOB_RUN_ID}/${PATH_ID}'
SMB_UNIX_UNMOUNT_PATH_CMD='umount ${BASE_DIR}/${JOB_RUN_ID}/${PATH_ID}'

WIN_MOUNTED_FOLDER_SIZE_CMD='powershell -Command "Get-ChildItem -Path "${DIR_PATH}" -Recurse -File | Measure-Object -Property Length -Sum | Select -ExpandProperty Sum"'

LINUX_USED_DISK_SPACE=df -B1 "${MOUNT_PATH}" | tail -1
UNIX_USED_DISK_SPACE=df -k "${MOUNT_PATH}" | tail -1
WIN_USED_DISK_SPACE=powershell -Command "& { $path=\\"${MOUNT_PATH}\\"; $drive='${MOUNT_PATH[0]}:'; $disk = Get-CimInstance -ClassName Win32_LogicalDisk | Where-Object { $_.DeviceID -eq $drive }; $disk.Size - $disk.FreeSpace }"


LINUX_AVAILABLE_DISK_SPACE_CMD='df -Pk "${DIR_PATH}" | awk 'NR==2 { print $4 * 1024 }''
UNIX_AVAILABLE_DISK_SPACE_CMD='df -Pk "${DIR_PATH}" | awk 'NR==2 { print $4 * 1024 }''
WIN_AVAILABLE_DISK_SPACE_CMD='powershell -Command "& {(Get-PSDrive -Name (Get-Item "${DIR_PATH}").PSDrive.Name).Free}"'

SMB_WIN_GET_SID_FOR_OBJECT_CMD='icacls "${PATH}"'
SMB_WIN_SET_SID_FOR_OBJECT_CMD='icacls "${PATH}" /grant "${USER}:${ACL}"'
SMB_WIN_SET_SID_FOR_OBJECT_DIR_CMD='icacls "${PATH}" /grant:r "${USER}:${ACL}" /T'

# ------------------------------- Worker ------------------------ #
UNIX_FSTAB_PATH='/etc/fstab'
LINUX_FSTAB_PATH='/etc/fstab'
WORKER_CONFIG_URL=http://localhost:3002
WORKER_JOB_SERVICE_URL=http://localhost:3006
WORKER_REPORT_SERVICE_URL=http://localhost:3003
WORKER_ID=4e59f3b9-071c-4515-aed0-c9226b8d01dd
WORKER_SECRET=b520bdc6-db73-4b67-b610-68acdfdba1c7
KEYCLOAK_BASE_URL=http://localhost:7080
KEYCLOAK_REALM=datamigrator
TEMPORAL_ADDRESS=localhost:7233

BASE_WORKING_PATH=/mnt/datamigrator

# Health check
HEALTH_CHECK_INTERVAL=5
CHECK_AVAILABLE_DISK_SPACE=true

# Core operations
MAX_OPERATION_RETRY=3
MAX_MIGRATION_COMMAND=100
MAX_SCAN_COMMAND=500
MIGRATION_TASK_LIMIT=100
CHUNK_SIZE=1048576
MAX_COMMAND_CONCURRENCY=100

# Speed test
SPEED_TEST_FILE_NAME=1GB_zero_file.bin
SPEED_TEST_FILE_Size_GB=1
SPEED_TEST_TIMEOUT=120000

# Redis and Temporal
REDIS_MEM_USAGE_THRESHOLD=90
JOB_TASK_ACTIVITY_CONCURRENCY=1

# Thread pool
THREAD_BANDS=1kb,1900;1mb,1000;10mb,100;100mb,10;1gb,1
THREAD_COUNT=5

REDIS_HOST=localhost
REDIS_USERNAME=default
REDIS_PASSWORD=redis
REDIS_PORT=6379

CHECK_AVAILABLE_DISK_SPACE=false

# Logs
LOG_LEVEL=debug
ENABLE_FILE_LOGGING=true
OTEL_COLLECTOR_ENDPOINT=localhost:4318

REDIS_STREAM_GROUP_SIZE=2000
COMMANDS_IN_TASK=100
LOG_LEVEL=info
UV_THREADPOOL_SIZE=16
NODE_OPTIONS=--max_old_space_size=4096
MAX_CMDS_IN_STREAM=5000
MAX_BUFFER_SIZE=4194304

REAL_TIME_PROTECTION= false
SHOULD_STAMP_PERMISSIONS=true