apiVersion: v1
kind: PersistentVolume
metadata:
    name: openbao-data
    namespace: openbao
    labels:
        type: local
        role: openbao-data
spec:
    storageClassName: "local-storage-openbao"
    capacity:
        storage: {{ openbao_data_volume_size }}
    accessModes:
        - ReadWriteOnce
    hostPath:
        path: "/data/openbao-data"

---