
# --------------------------------------------------------------------
# Default values
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

global:
  registry: {{ acr_registry }}
  build_version: {{ build_version }}
{% if local_cluster is defined %}
  local_cluster: {{ local_cluster }}
{% endif %}
  istio:
    enabled: {{ enable_istio | default(false) | bool | string | lower }}
    namespace: {{ istio_namespace | default('istio-system') | quote }}
    hosts:
{% if istio_gateway_allow_any_host | default(true) | bool %}
{% set _istio_route_hosts = ['*'] %}
{% else %}
{% set _istio_route_hosts = istio_gateway_hosts_effective | default(istio_gateway.hosts | default(public_ingress_hosts | default(['datamigrator.local']))) %}
{% endif %}
{% for host in _istio_route_hosts %}
      - {{ host | quote }}
{% endfor %}
    gateway:
      name: {{ istio_gateway.name | default('datamigrator-gateway') }}
      namespace: "{{ istio_gateway.namespace | default('istio-system') }}"
      port: {{ istio_gateway.port | default(80) }}
      portName: {{ istio_gateway.port_name | default('http') }}
      protocol: {{ istio_gateway.protocol | default('HTTP') }}
      selector:
{% for key, value in istio_gateway.selector | default({'istio':'ingressgateway'}) | dictsort %}
        {{ key }}: {{ value }}
{% endfor %}
      tls:
        enabled: {{ istio_gateway.tls.enabled | default(false) | bool | string | lower }}
        secretName: {{ istio_gateway.tls.secretName | default('') | quote }}
    rateLimit:
      enabled: {{ istio_rate_limit.enabled | default(true) | bool | string | lower }}
      maxTokens: {{ istio_rate_limit.max_tokens | default(25) }}
      tokensPerFill: {{ istio_rate_limit.tokens_per_fill | default(25) }}
      fillInterval: {{ istio_rate_limit.fill_interval | default('1s') | quote }}
    keycloakRoute:
      enabled: {{ istio_keycloak_route.enabled | default(true) | bool | string | lower }}
      virtualServiceName: {{ istio_keycloak_route.virtualservice_name | default('keycloak-virtualservice') | quote }}
      httpRouteName: {{ istio_keycloak_route.http_route_name | default('keycloak-route') | quote }}
      serviceHost: {{ istio_keycloak_route.service_host | default('keycloak.keycloak.svc.cluster.local') | quote }}
      servicePort: {{ istio_keycloak_route.service_port | default(80) }}
      uri:
        prefix: {{ istio_keycloak_route.path_prefix | default('/keycloak') | quote }}
    jwt:
      enabled: {{ istio_jwt_auth.enabled | default(false) | bool | string | lower }}
      requestAuthenticationName: {{ istio_jwt_auth.request_authentication_name | default('keycloak-jwt') | quote }}
      authPolicyName: {{ istio_jwt_auth.auth_policy_name | default('require-jwt') | quote }}
      publicAuthPolicyName: {{ istio_jwt_auth.public_auth_policy_name | default('allow-public') | quote }}
      selector:
{% if istio_jwt_auth.selector is defined %}
{% for key, value in istio_jwt_auth.selector | dictsort %}
        {{ key }}: {{ value }}
{% endfor %}
{% else %}
        istio: ingressgateway
{% endif %}
      # issuer URL will be patched at deployment time with actual VM IP
      issuer: {{ istio_jwt_auth.issuer | default('https://DEPLOYMENT_IP_PLACEHOLDER/keycloak/realms/datamigrator') | quote }}
      jwksUri: {{ istio_jwt_auth.jwks_uri | default('http://keycloak.keycloak.svc.cluster.local/keycloak/realms/datamigrator/protocol/openid-connect/certs') | quote }}
{% if istio_jwt_auth.forward_original_token is defined %}
      forwardOriginalToken: {{ istio_jwt_auth.forward_original_token | bool | string | lower }}
{% endif %}
{% if istio_jwt_auth.from_headers is defined %}
      fromHeaders:
{% for header in istio_jwt_auth.from_headers %}
        - name: {{ header.name | quote }}
{% if header.prefix is defined %}
          prefix: {{ header.prefix | quote }}
{% endif %}
{% endfor %}
{% endif %}
{% if istio_jwt_auth.audiences is defined %}
      audiences:
{% for audience in istio_jwt_auth.audiences %}
        - {{ audience | quote }}
{% endfor %}
{% endif %}
{% if istio_jwt_auth.public_paths is defined %}
      publicPaths:
{% for path in istio_jwt_auth.public_paths %}
        - {{ path | quote }}
{% endfor %}
{% endif %}
{% if istio_jwt_auth.protected_paths is defined %}
      protectedPaths:
{% for path_config in istio_jwt_auth.protected_paths %}
        - paths:
{% for path in path_config.paths %}
            - {{ path | quote }}
{% endfor %}
{% if path_config.methods is defined %}
          methods:
{% for method in path_config.methods %}
            - {{ method | quote }}
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}
    openbaoEgress:
      enabled: true
      host: "openbao.openbao.svc.cluster.local"
      resourcePrefix: "openbao"
      namespace: {{ istio_gateway.namespace | default('datamigrator') }}
      ports:
        - number: 8200
          name: http
          protocol: HTTP
      serviceEntry:
        enabled: true
        location: MESH_INTERNAL
        resolution: DNS
      destinationRule:
        enabled: true
        tlsMode: DISABLE
    # Temporal mTLS Configuration
    temporalMtls:
      enabled: {{ temporal_mtls.enabled | default(false) | bool | string | lower }}
      mode: {{ temporal_mtls.mode | default('PERMISSIVE') | quote }}
      jwtAuth:
        enabled: {{ temporal_mtls.jwt_auth.enabled | default(true) | bool | string | lower }}
  
admin-service:
  image:
    tag: {{ admin_service_tag | default(common_tag) | default("latest") }}
  annotations:
    vault.hashicorp.com/agent-json-patch: '[{"op": "replace", "path": "/imagePullPolicy", "value": "{% if local_cluster is defined %}IfNotPresent{% else %}Never{% endif %}"}]'

config-service:
  image:
    tag: {{ config_service_tag | default(common_tag) | default("latest") }}
  annotations:
    vault.hashicorp.com/agent-json-patch: '[{"op": "replace", "path": "/imagePullPolicy", "value": "{% if local_cluster is defined %}IfNotPresent{% else %}Never{% endif %}"}]'

db-writer:
  image:
    tag: {{ db_writer_service_tag | default(common_tag) | default("latest") }}
  annotations:
    vault.hashicorp.com/agent-json-patch: '[{"op": "replace", "path": "/imagePullPolicy", "value": "{% if local_cluster is defined %}IfNotPresent{% else %}Never{% endif %}"}]'

jobs-service:
  image:
    tag: {{ jobs_service_tag | default(common_tag) | default("latest") }}
  annotations:
    vault.hashicorp.com/agent-json-patch: '[{"op": "replace", "path": "/imagePullPolicy", "value": "{% if local_cluster is defined %}IfNotPresent{% else %}Never{% endif %}"}]'

reports-service:
  image:
    tag: {{ reports_service_tag | default(common_tag) | default("latest") }}
  annotations:
    vault.hashicorp.com/agent-json-patch: '[{"op": "replace", "path": "/imagePullPolicy", "value": "{% if local_cluster is defined %}IfNotPresent{% else %}Never{% endif %}"}]'

datamigrator-ui:
  image:
    tag: {{ datamigrator_ui_tag | default(common_tag) | default("latest") }}
  annotations:
    vault.hashicorp.com/agent-json-patch: '[{"op": "replace", "path": "/imagePullPolicy", "value": "{% if local_cluster is defined %}IfNotPresent{% else %}Never{% endif %}"}]'

db-migrations:
  image:
    tag: {{ db_migrations_tag | default(common_tag) | default("latest") }}
  annotations:
    sidecar.istio.io/inject: "false"
    vault.hashicorp.com/agent-json-patch: '[{"op": "replace", "path": "/imagePullPolicy", "value": "{% if local_cluster is defined %}IfNotPresent{% else %}Never{% endif %}"}]'

support-service:
  image:
    tag: {{ support_service_tag | default(common_tag) | default("latest") }}
  annotations:
    vault.hashicorp.com/agent-json-patch: '[{"op": "replace", "path": "/imagePullPolicy", "value": "{% if local_cluster is defined %}IfNotPresent{% else %}Never{% endif %}"}]'