
# --------------------------------------------------------------------
# Default values
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

global:
  registry: {{ acr_registry }}
{% if local_cluster is defined %}
  local_cluster: {{ local_cluster }}
{% endif %}
  
admin-service:
  image:
    tag: {{ admin_service_tag | default(common_tag) | default("latest") }}

config-service:
  image:
    tag: {{ config_service_tag | default(common_tag) | default("latest") }}

db-writer:
  image:
    tag: {{ db_writer_service_tag | default(common_tag) | default("latest") }}

jobs-service:
  image:
    tag: {{ jobs_service_tag | default(common_tag) | default("latest") }}

reports-service:
  image:
    tag: {{ reports_service_tag | default(common_tag) | default("latest") }}

datamigrator-ui:
  image:
    tag: {{ datamigrator_ui_tag | default(common_tag) | default("latest") }}

db-migrations:
  image:
    tag: {{ db_migrations_tag | default(common_tag) | default("latest") }}