usePassword: true
password: "welcome"
# existingSecret: redis-credentials
# existingSecretPasswordKey: password

service:
  type: ClusterIP

persistence:
  enabled: true
  storageClass: "local-storage-redis"
  size: {{ redis_data_volume_size }}
  selector:
      matchLabels:
          role: redis-data

cluster:
  init: true
  nodes: 6
  replicas: 1
  externalAccess:
    enabled: false

metrics:
  enabled: true

volumePermissions:
  enabled: true