---
apiVersion: v1
kind: PersistentVolume
metadata:
    name: redis-data
    namespace: redis
    labels:
        type: local
        role: redis-data
spec:
    storageClassName: "local-storage-redis"
    capacity:
        storage: {{ redis_data_volume_size }}
    accessModes:
        - ReadWriteOnce
    hostPath:
        path: "/data/redis-data"
