+-------------------------------------------------------------------------+
|You have logged into a NetApp computer system. Unauthorized or improper  |
|use of this system may result in disciplinary action, termination of     |
|employment, civil and criminal liability. By using this system you agree |
|to the terms of use contained herein and in any published NetApp policy  |
|covering such use. The system and the data, files and information        |
|(Information) contained herein are the property of NetApp. Except where  |
|prohibited by law, NetApp may in its sole discretion use, intercept,     |
|monitor, record, copy, audit, inspect, delete, or modify such Information|
|and further may disclose such Information to NetApp personnel, law       |
|enforcement agencies, or any other third parties as NetApp deems         |
|necessary to conduct its business.                                       |
+-------------------------------------------------------------------------+
