DB_HOST=localhost
DB_PORT=5432
DB_NAME=datamigrate
DB_USER=dmadmin
DB_PASSWORD=dmadmin
SCHEMA=migrateadmin
RABBITMQ_URLS=amqp://guest:guest@localhost:5672
REPORTS_QUEUE=reports-queue
APP_PORT=6000
CSV_BATCH_SIZE=50000
BUNDLE_PATH=/generated-zips
