JOB_SERVICE_URL=
CONFIG_SERVICE_URL=
ADMIN_SERVICE_URL=
KEYCLOAK_IP=

NDM_USERNAME=
PASSWORD=

NDM_VM_USER_NAME=
NDM_VM_HOST=
NDM_VM_PORT=
NDM_VM_PASSWORD=

NFS_NDM_WORKERS_HOST=
NFS_NDM_WORKERS_USER_NAME=
NFS_NDM_WORKERS_PORT=
NFS_NDM_WORKERS_PASSWORD=

SMB_NDM_WORKERS_HOST=
SMB_NDM_WORKERS_USER_NAME=
SMB_NDM_WORKERS_PORT=
SMB_NDM_WORKERS_PASSWORD=

NFS_SOURCE_HOST_IP=
NFS_DESTINATION_HOST_IP=

SMB_SOURCE_HOST_IP=
SMB_DESTINATION_HOST_IP=

NFS_PROTOCOL_USERNAME=
NFS_PROTOCOL_PASSWORD=

SMB_PROTOCOL_USERNAME=
SMB_PROTOCOL_PASSWORD=