JOB_SERVICE_URL=https://10.192.7.75
CONFIG_SERVICE_URL=https://10.192.7.75
ADMIN_SERVICE_URL=https://10.192.7.75
KEYCLOAK_IP=
NDM_USERNAME=
PASSWORD=
NDM_VM_USER_NAME=ubuntu
NDM_VM_HOST=
NDM_VM_PORT=22
NDM_VM_PASSWORD=
NDM_WORKERS_HOST=""
NDM_WORKERS_USER_NAME=
NDM_WORKERS_PORT=
NDM_WORKERS_PASSWORD=
SOURCE_HOST_IP=
DESTINATION_HOST_IP=