apiVersion: v1
kind: PersistentVolume
metadata:
    name: alertmanager-data
    namespace: prometheus
    labels:
        type: local
        role: prometheus-alertmanager-data
spec:
    storageClassName: "local-storage-alertmanager"
    capacity:
        storage: {{ prometheus_alertmanager_data_volume_size }}
    accessModes:
        - ReadWriteOnce
    hostPath:
        path: "/data/alertmanager-data"

---