apiVersion: v1
kind: PersistentVolume
metadata:
    name: prometheus-data
    namespace: prometheus
    labels:
        type: local
        role: prometheus-server-data
spec:
    storageClassName: "local-storage-prometheus"
    capacity:
        storage: {{ prometheus_data_volume_size }}
    accessModes:
        - ReadWriteOnce
    hostPath:
        path: "/data/prometheus-data"

---