#!/bin/bash

MAX_RETRIES=3
RETRY_DELAY=5
WAIT_TIMEOUT=20

log() {
    echo "[$(date '+%Y-%m-%d %H:%M:%S')] $1"
}

retry() {
    local retries=$1
    local command=$2
    local delay=${3:-$RETRY_DELAY}
    local timeout=${4:-$WAIT_TIMEOUT}
    local attempt=1

    while [ $attempt -le $retries ]; do
        log "Attempt $attempt: $command"
        timeout "$timeout" bash -c "$command"
        if [ $? -eq 0 ]; then
            return 0
        fi
        log "Command failed, retrying in $delay seconds..."
        sleep "$delay"
        attempt=$((attempt + 1))
    done
    log "Command failed after $retries attempts: $command"
    return 1
}

handle_failure() {
    log "[ERROR] $1"
    exit 1
}

unseal_openbao() {
    log "Waiting for openbao-0 to be ready..."
    retry $MAX_RETRIES "kubectl wait --namespace=\"openbao\" --for=jsonpath='{.status.phase}'=Running pod/openbao-0 --timeout=${WAIT_TIMEOUT}s" || handle_failure "openbao-0 pod not ready"

    log "Allow some time for openbao-0 to be fully ready..."
    sleep 60
    
    # Unseal openbao-0 first, since it's the leader pod
    log "Unsealing openbao-0..."
    local OPENBAO_UNSEAL_KEY=$(jq -r ".unseal_keys_b64[]" /opt/datamigrator/openbao/cluster-keys.json)
    [ -z "$OPENBAO_UNSEAL_KEY" ] && handle_failure "Failed to get openbao unseal key"
    
    retry $MAX_RETRIES "kubectl exec openbao-0 -n openbao -- bao operator unseal \"$OPENBAO_UNSEAL_KEY\"" || handle_failure "Failed to unseal openbao-0"

    # After unsealing openbao-0, move forward even if openbao-1 and openbao-2 are not ready yet
    log "Proceeding with unsealing openbao-1 and openbao-2..."

    # Unseal openbao-1 and openbao-2
    retry $MAX_RETRIES "kubectl exec openbao-1 -n openbao -- bao operator unseal \"$OPENBAO_UNSEAL_KEY\"" || handle_failure "Failed to unseal openbao-1"
    retry $MAX_RETRIES "kubectl exec openbao-2 -n openbao -- bao operator unseal \"$OPENBAO_UNSEAL_KEY\"" || handle_failure "Failed to unseal openbao-2"
}

main() {
    unseal_openbao
}

main
