
# Environment variables
.env
.env.local

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Authentication states (contain sensitive session data)
playwright/.auth
