server:
  enabled: true
  image:
    repository: temporalio/server
    tag: 1.27.1
    pullPolicy: IfNotPresent
  replicaCount: 2
  metrics:
    annotations:
      enabled: true
    prometheus:
      timerType: "histogram"
  # additionalEnv:
  #   - name: TEMPORAL_UI_PUBLIC_PATH
  #     value: "/temporal/ui"
  config:
    namespaces:
      create: true
      namespace:
        - name: default
          retention: 7d
    persistence:
      default:
        driver: "sql"
        sql:
          driver: "postgres12"
          database: "temporal"
          port: 5432
          host: "postgresql.postgres.svc.cluster.local"
          user: "temporal"
          secretKey: "temporal-db-password"
          secretName: "temporal-credentials"
          maxConns: 450
          maxConnLifetime: "1h"
      visibility:
        driver: "sql"
        sql:
          driver: "postgres12"
          database: "temporal_visibility"
          port: 5432
          host: "postgresql.postgres.svc.cluster.local"
          user: "temporal"
          secretKey: "temporal-db-password"
          secretName: "temporal-credentials"
          maxConns: 450
          maxConnLifetime: "1h"
      
  frontend:
    service:
      type: ClusterIP
      port: 7233


web:
  enabled: true
  image:
    repository: temporalio/ui
    tag: 2.36.0
    pullPolicy: IfNotPresent
  ingress:
    enabled: true
    annotations:
      kubernetes.io/ingress.class: "public"
      nginx.ingress.kubernetes.io/ssl-redirect: "true"
      nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
    hosts:
      - "/temporal/ui(.*)"
  additionalEnv:
    - name: TEMPORAL_UI_PUBLIC_PATH
      value: "/temporal/ui"

admintools:
  enabled: true
  image:
    repository: temporalio/admin-tools
    tag: 1.27.1
    pullPolicy: IfNotPresent

postgresql:
  enabled: false

elasticsearch:
  enabled: false

cassandra:
  enabled: false

mysql:
  enabled: false

prometheus:
  enabled: false

grafana:
  enabled: false