##reference: https://artifacthub.io/packages/helm/bitnamilegacy/postgresql?modal=values

architecture: standalone
global:
  security:
    allowInsecureImages: true
  postgresql:
    auth:
      username: dmadmin
      database: datamigrator  
      existingSecret: postgres-credentials
      secretKeys:
        adminPasswordKey: postgres-password
        userPasswordKey: password

image:
  registry: docker.io
  repository: bitnamilegacy/postgresql
  tag: 17.6.0-debian-12-r0
  pullPolicy: "{% if local_cluster is defined %}IfNotPresent{% else %}Never{% endif %}"

primary:
  persistence:
    enabled: true
    storageClass: "local-storage-postgres"
    size: {{ postgres_data_volume_size }}
    selector:
        matchLabels:
            role: postgres-primary-data
  containerSecurityContext:
    runAsUser: {{ vm_uid }}
    runAsNonRoot: true
    runAsGroup: {{ vm_gid }}

  extendedConfiguration: |
    max_connections = 1000
    tcp_keepalives_idle = 180
    tcp_keepalives_interval = 10
    tcp_keepalives_count = 5
    shared_buffers = 768MB
    work_mem = 32MB
    maintenance_work_mem = 256MB
    max_parallel_workers_per_gather = 2
    parallel_tuple_cost = 0.1
    parallel_setup_cost = 500
    wal_buffers = 8MB
    checkpoint_completion_target = 0.9
    max_wal_size = 1GB
    shared_preload_libraries = 'pg_stat_statements'
              
  initdb:
    scriptsConfigMap: postgres-init-config
    user: postgres
    password: {{ postgres_root_password }}

{% if local_cluster is defined %}
  resources:
    requests:
      cpu: "0.5"
      memory: "786Mi"
    limits:
      cpu: "1.2"
      memory: "1.7Gi"
{% else %}
  resources:
    requests:
      cpu: "0.7"
      memory: "786Mi"
{% endif %}


volumePermissions:
  enabled: true
  image:
    registry: docker.io
    repository: bitnamilegacy/os-shell
    tag: 12-debian-12-r50
    pullPolicy: "{% if local_cluster is defined %}IfNotPresent{% else %}Never{% endif %}"

readReplicas:
    replicaCount: 0

metrics:
  enabled: false
  image:
    registry: docker.io
    repository: bitnamilegacy/postgres-exporter
    tag: 0.17.1-debian-12-r15
    pullPolicy: "{% if local_cluster is defined %}IfNotPresent{% else %}Never{% endif %}"
